:root {
  --light: #fefffa;
  --dark: #0c0c0c;
  --teal: #285b5b;
  --green: #dde9e2;
  --orange: #ba5a31;
  --gray: #d1d1d1;
}

/* General styles ------------- */
body {
  font-size: 18px;
  line-height: 1.8;
  font-family: 'Jost', Arial, sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

section {
  padding: 80px 10%;
  box-shadow: 0 2px 2px #d2d2d22c;
}

.shadow-01 {
  box-shadow: 0 0 6px #7272722c;
}

.shadow-02 {
  box-shadow: 0 0 15px #3b3f4339;
}

.button-orange, .button-transparent {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  padding: 6px 16px;
  margin-right: 10px;
  flex-shrink: 0;
  transition: background-color .15s;
}

.button-orange {
  background-color: var(--orange);
  color: var(--light);
}

.button-orange:hover {
  background-color: var(--teal);
}

.button-transparent:hover {
  background-color: var(--green);
}

/* Text styles ------------------ */
p {
  margin: 20px 0;
}

h1, h2 {
  font-family: 'Aleo', serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
}

h2 {
  font-size: 26px;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
}

/* Header styles */
.title-box {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-horizontal {
  background-color: var(--gray);
  height: 2px;
  width: 80%;
  margin: 12px 0px;
}

/* Navbar styles */
nav {
  height: 80px;
  display: flex;
  justify-content: center;
}

nav ul {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
}

nav li {
  padding: 2px 6px;
  transition: background-color .15s;
}

nav .link:hover {
  background-color: var(--green);
}

/* Section 1 styles ------- */
.section-01 {
  display: flex;
  justify-content: space-between;
}

.book-img {
  width: 35%;
  min-width: 260px;
  margin-right: 20px;
}

.content-01 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-01 h2 {
 margin: 0;
}

.stars-group {
  display: flex;
  align-items: center;
}
.stars {
  width: 100px;
  margin-right: 10px;
}

.stars-text {
  font-size: 16px;
  margin: 0;
}

.paragraph-group {
  margin-bottom: 24px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

/* Footer styles ------ */
footer {
  background-color: var(--teal);
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10%;
}

footer h3{
  color: var(--orange);
  font-weight: bold;
  display: inline;
}
