h1 {
  font-size: 28px;
  letter-spacing: 8px;
}

h4 {
  font-size: 14px;
  letter-spacing: 2px;
}

/* Header styles ----------------------- */
header {
  background-image: url(../images/ocean.png);
  background-size: cover;
  background-position: 50% 70%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-box {
  padding: 40px;
  border-radius: 3px;
}

/* Navbar styles ------------------- */
nav {
  align-items: flex-end;
}

nav ul {
  flex-wrap: wrap;
}

nav li {
  margin: 10px 30px;
}

/* Section 1 styles -------------- */
.section-01 {
  align-items: center;
}

/* Author events section --------- */
.section-02 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-02 {
  display: flex;
}

.line-vertical {
  background-color: var(--gray);
  width: 2px;
  margin: 10px 40px;
}

.events-paragraph-group {
  flex: 0 0 calc(50% - 42px);
}

/* More from Amber section --------- */
.section-03 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid {
  display: grid;
  gap: 10px;
  grid-template-rows: 150px 150px;
  grid-template-columns: 309px 122px 122px;
}

.item {
  background-size: contain;
  background-repeat: no-repeat;
  border: 6px solid white;
  box-shadow: 0 0 6px #7272722c;
  transition: border .2s;
}

.item:hover {
  border: 6px solid var(--green);
}

.item-01 {
  grid-row: span 2;
  background-image: url(../images/more-01.png);
}

.item-02 {
  background-image: url(../images/more-02.png);
}

.item-03 {
  background-image: url(../images/more-03.png);
}

.item-04 {
  background-image: url(../images/more-04.png);
}

.item-05 {
  background-image: url(../images/more-05.png);
}

/* Instagram section styles */
.section-04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green);
}

/* Media queries for responsiveness */
@media screen and (min-width: 1400px) {
  section {
    padding: 80px 20%;
  }
 /* More from Amber section styles --- */
  .image-grid {
    grid-template-rows: 200px 200px;
    grid-template-columns: 410px 163px 163px;
    }
}

@media screen and (max-width: 990px) { 
  .button-transparent {
    order: -2;
    margin: -30px 80% 20px -16px;
  }
}

@media screen and (max-width: 800px) {
  p {
    text-align: center;
  }

  /* section 1 styles ----- */
  .section-01 {
    flex-direction: column;
  }

  .content-01 {
    width: 100%;
  }

  .button-container {
    justify-content: center;
  }

  .button-transparent {
    order: 0;
    margin: 0;
  }

  .book-img {
    margin: 0 0 20px 0;
  }

  .heading-stars {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Author events section styles ------- */
  .content-02 {
    flex-direction: column;
  }

  .content-02 h3 {
    text-align: center;
  }
}

@media screen and (max-width: 670px) {
  body {
    font-size: 16px;
  }

  section, footer {
    padding: 40px 10%;
  }

  /* Header styles------ */
  header {
    height: 400px;
  }

  h1 {
    font-size: 20px;
    letter-spacing: 4px;
  }

  h2 {
    text-align: center;
  }

  h4 {
    font-size: 12px;
  }

  .line-horizontal {
    margin: 10px 0;
  }

  .title-box {
    padding: 30px;
  }

  nav {
    height: auto;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px;
  }

  /* Section 1 styles---- */
  .button-transparent {
    order: -2;
    margin: -30px 40% 20px 40%;
  }

  /* More from Amber section styles ---*/
  .image-grid {
    grid-template-columns: 150px 150px;
    grid-template-rows: 309px 184px 184px;   
  }

  .item-01 {
    grid-row: span 1;
    grid-column: span 2;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 14px;
  }
  
  /* Header styles-------- */
  header {
    height: 300px;
  }

  /* Section 1 styles ------ */
  .book-img {
    width: 100%;
    min-width: auto;
  }

  .stars-text {
    display: none;
  }
  
  .button-container {
    flex-direction: column;
  }

  .button-orange {
    margin: 5px 15%;
    text-align: center;
  }

  .button-transparent {
    margin: -20px 5px 20px;
    text-align: center;
  }

  /* More from Amber section styles ---- */
  .image-grid {
    grid-template-columns: 120px 120px;
    grid-template-rows: 249px 146px 146px;
  }
}