:root {
  --light: #fefffa;
  --dark: #0c0c0c;
  --teal: #285b5b;
  --blue: #d3e9f0;
  --orange: #ba5a31;
  --gray: #d1d1d1;
}

/* General styles ------------- */
body {
  font-size: 18px;
  line-height: 1.8;
  font-family: 'Jost', Arial, sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

section {
  padding: 80px 10%;
  box-shadow: 0 2px 2px #d2d2d22c;
}

.shadow-01 {
  box-shadow: 0 0 6px #7272722c;
}

.shadow-02 {
  box-shadow: 0 0 15px #3b3f4339;
}

.button-orange, .button-transparent {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  padding: 6px 16px;
  margin-right: 10px;
  transition: background-color .15s;
}

.button-orange {
  background-color: var(--orange);
  color: var(--light);
}

.button-orange:hover {
  background-color: var(--teal);
}

.button-transparent:hover {
  background-color: var(--blue);
}

/* Text styles ------------------ */
p {
  margin: 20px 0;
}

h1, h2 {
  font-family: 'Aleo', serif;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  line-height: 1.4;
}

h2 {
  font-size: 26px;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.4;
}

/* Header styles ----------------------- */
header {
  background-image: url(../images/ocean.png);
  background-size: cover;
  background-position: 50% 70%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-box {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 3px;
}

.line-horizontal {
  background-color: var(--gray);
  height: 2px;
  width: 80%;
  margin: 20px 0px;
}

/* Navbar styles ------------------- */
nav {
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

nav ul {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav li {
  float: left;
  margin: 10px 30px;
  padding: 2px 6px;
  transition: background-color .15s;
}

nav li:hover {
  background-color: var(--blue);
}

/* Section 1 styles -------------- */
.section-01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-img {
  width: 35%;
}

.content-01 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-01 h2 {
 margin: 0;
}

.stars-group {
  display: flex;
  align-items: center;
}
.stars {
  width: 100px;
  margin-right: 10px;
}

.stars-text {
  font-size: 16px;
  margin: 0;
}

.paragraph-group {
  margin-bottom: 24px;
}

/* Author events section --------- */
.section-02 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-02 {
  display: flex;
}

.line-vertical {
  background-color: var(--gray);
  width: 2px;
  margin: 10px 40px;
}

.events-paragraph-group {
  flex: 0 0 calc(50% - 42px);
}

/* More from Amber section --------- */
.section-03 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid {
  display: grid;
  gap: 10px;
  grid-template-rows: 150px 150px;
  grid-template-columns: 309px 122px 122px;
}

.item {
  background-size: contain;
  background-repeat: no-repeat;
  border: 6px solid white;
  box-shadow: 0 0 6px #7272722c;
  transition: border .2s;
}

.item:hover {
  border: 6px solid var(--blue);
}

.item-01 {
  grid-row: span 2;
  background-image: url(../images/more-01.png);
}

.item-02 {
  background-image: url(../images/more-02.png);
}

.item-03 {
  background-image: url(../images/more-03.png);
}

.item-04 {
  background-image: url(../images/more-04.png);
}

.item-05 {
  background-image: url(../images/more-05.png);
}

/* Instagram section styles */
.section-04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
}

/* Footer styles ---------------- */
footer {
  background-color: var(--teal);
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10%;
}

footer h3{
  color: var(--orange);
  font-weight: bold;
  display: inline;
}